<h1>編集画面</h1>

<%= form_with model: @customer, url: infomation_path, method: :patch do |f| %>

  <h2>氏名</h2>
  <%= f.text_area :family_name %>
  <%= f.text_area :first_name %>

  <h2>フリガナ</h2>
  <%= f.text_area :family_kana %>
  <%= f.text_area :first_kana %>

  <h2>郵便番号</h2>
  <%= f.text_area :postal_code %>

  <h2>住所</h2>
  <%= f.text_area :address %>

  <h2>電話番号</h2>
  <%= f.text_area :telephone_number %>

  <h2>メールアドレス</h2>
  <%= f.text_area :email %>

  <%= f.submit '編集内容を保存' %>

<% end %>