<div class='container px-5 px-sm-0'>
  <div class='row'>
    <div class='ml-5 col-10 col-sm-10 col-lg-8 col-xl-6'>
        <h4>マイページ</h4>

            <table class="table table-bordered">

                <tbody>
                    <h4>登録情報</h4>
                    <tr>
                        <td>氏名</td>
                        <td><%= @customer.family_name %><%= @customer.first_name %></td>
                    </tr>
                    <tr>
                        <td>カナ</td>
                        <td><%= @customer.family_kana %><%= @customer.first_kana %></td>
                    <tr>
                    </tr>
                        <td>郵便番号</td>
                        <td><%= @customer.postal_code %></td>
                    </tr>
                    <tr>
                        <td>住所</td>
                        <td><%= @customer.address %></td>
                    </tr>
                    <tr>
                        <td>電話番号</td>
                        <td><%= @customer.telephone_number %></td>
                    </tr>
                    <tr>
                        <td>メールアドレス</td>
                        <td><%= @customer.email %></td>
                    </tr>
                </tbody>

            </table>
        </div>
    </div>

<%= link_to "編集する", edit_infomation_path %>

<h4>配送先</h4>
<%= link_to "一覧を見る", addresses_path %>


<h4>注文履歴</h4>
<%= link_to "一覧を見る", orders_path %>
