<div class='container px-5 px-sm-0'>
  <div class='row'>
    <h5 class="ml-5 my-4 px-3", style="background-color: #eee; width:350px;"><b><%= @customer.family_name %><%= @customer.first_name %>さんの会員情報編集</b></h5>
  </div>
  <div class="row">
    <%= render "admin/shared/error_messages", resource: @customer %>
    <%= form_with model: @customer, url:admin_customer_path(@customer) do |f| %>
      <table class='table table-borderless'>
        <tr>
          <td>会員ID</td>
          <td><%= @customer.id %></td>
        </tr>
        <tr>
          <td>氏名</td>
          <td><%= f.text_field :family_name%></td>
          <td><%= f.text_field :first_name %></td>
        </tr>
        <tr>
          <td>フリガナ</td>
          <td><%= f.text_field :family_kana%></td>
          <td><%= f.text_field :first_kana %></td>
        </tr>
        <tr>
          <td>郵便番号</td>
          <td><%= f.text_field :postal_code %></td>
        </tr>
        <tr>
          <td>住所</td>
          <td colspan = "2"><%= f.text_field :address,style:"padding-right:45%;" %></td>
        </tr>
        <tr>
          <td>電話番号</td>
          <td><%= f.text_field :telephone_number %></td>
        </tr>
        <tr>
          <td>メールアドレス</td>
          <td><%= f.text_field :email %></td>
        </tr>
        <tr>
          <td>会員ステータス</td>
          <td>
            <%= f.radio_button :is_active, :true %><%= f.label :is_active, "有効" %>
            <%= f.radio_button :is_active, :false %><%= f.label :is_active, "退会" %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td><b><%= f.submit '変更を保存',class: 'btn btn-success' %></b></td>
        </tr>
      </table>
    <% end %>
  </div>
</div>
