<div class='container px-5 px-sm-0'>
  <div class='row'>
    <h5 class="ml-5 mt-3", style="background-color: #eee; width:150px; padding-left: 12px; margin-bottom: 20px;"><b>会員一覧</b></h5>
  </div>
  <div class="row">
    <table class='table table-sm'>
      <thead style="background-color: #eee;">
          <th>会員ID</th>
          <th><u>氏名</u></th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to admin_customer_path(customer),class: 'text-dark' do %>
              <u><%= customer.family_name %><%= customer.first_name %></u>
              <% end %>
            </td>
            <td><%= customer.email %></td>
              <% if customer.is_active == true %>
                <td class="text-success">有効</td>
              <% else %>
                <td class="text-secondary">退会</td>
              <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= paginate @customers %>