<h5>注文履歴詳細</h5>
<%= form_with model: @order, url:admin_order_path, method: :patch do |f| %>
<table class="table">
  <tr>
    <td><b>購入者</b></td>
    <td><%= @order.customer.family_name %><%= @order.customer.first_name %></td>
  </tr>
  <tr>
    <td>注文日</td>
    <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
  </tr>
  <tr>
    <td>配送先</td>
    <td>
      <%= @order.customer.address_display %><br>
      <%= @order.customer.full_name %>
    </td>
  </tr>
  <tr>
    <td>支払い方法</td>
    <td><%= @order.payment_method %></td>
  </tr>
  <tr>
    <td>注文ステータス</td>
    <td><%= f.select :status, Order.statuses.keys.map {|k| [I18n.t("enums.order.status.#{k}"),k]}, class: "status" %>　<%= f.submit "更新", class: "btn btn-success" %></td>
  </tr>
</table>
<% end %>