<div class="container">
  <div class="row">
    <h4 class='mx-5 my-5', style="background-color: #eee; width:220px; padding-left: 12px; margin-bottom: 40px;"><b>ジャンル編集</b></h4>
  </div>
  <div>
    <%= render "admin/shared/error_messages", resource: @genre %>
    <%= form_with model: @genre, url: admin_genre_path(@genre.id) do |f| %>
      <div class="form-inline">
        <span class="mr-3"><b><%= f.label :name, 'ジャンル名' %></b></span>
        <span class="mr-3"><%= f.text_field :name, placeholder: "ジャンル名", class: 'form-control' %></span>
        <span class="mr-2"><%= f.submit '変更を保存',class: 'btn btn-success' %></span>
        <span class="mr-2"><%= link_to '削除する', admin_genre_path(@genre.id), method: :delete, data: { confirm: '本当に削除しますか？' }, class: "btn btn-danger"%></span>
      </div>
    <% end %>
  </div>
</div>