<div class="container">
  <div class="row">
    <div class='ml-5 col-10 col-sm-10 col-lg-8 col-xl-10'>
      <h4 class='mx-5 my-5', style="background-color: #eee; width:220px; padding-left: 12px; margin-bottom: 40px;"><strong>ジャンル一覧/追加</strong></h4>
      <%= render "admin/shared/error_messages", resource: @genre %>
      <%= form_with model: @genre, url:admin_genres_path do |f| %>
        <div class="form-inline">
          <span class="mr-3"><%= f.label :name, 'ジャンル名' %></span>
          <span class="mr-3"><%= f.text_field :name, placeholder: "ジャンル名", class: 'form-control' %></span>
          <span class="mr-3"><%= f.submit '新規登録', class: 'btn btn-success' %></span>
        </div>
      <% end %>
        <div class='my-5 col-sm-10 col-lg-6'>
        <table class='table table-borderless'>
          <thead style="background-color: #eee;">
            <th>ジャンル</th>
            <th colspan=2></th>
            <% @genres.each do |genre| %>
              <tbody>
                <tr>
                  <td><%= genre.name %></td>
                  <td><%= link_to "編集する", edit_admin_genre_path(genre.id), class: "btn btn-success" %></td>
                </tr>
              </tbody>
            <% end %>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>