<h4>ショッピングカート</h4>
<table>
   <tr>
    <th>商品名</th>
    <th>単価(税込)</th>
    <th>数量</th>
    <th>小計</th>
    <th></th>
   </tr>
     <% total = 0 %>

 <% if current_customer.cart_items.present? %>
    <% @cart_items.each do |cart_item| %>
    <tr>
       <td>
         <%= image_tag cart_item.item.get_image, size:'100x100' %>
         <%= cart_item.item.name %>
       </td>
       <td><%= (cart_item.item.price*1.1).to_i %></td>
       <td>
         <%= form_with model: cart_item, url: cart_item_path(cart_item), local: true, method: :patch do |f| %>
           <%= f.number_field :amount, min: 1, max:10, id: "amount_cart"%>
           <%= f.submit "変更",class: "btn btn-success" %>
         <% end %>
       </td>
       <td>
         <% subtotal = ((cart_item.amount*cart_item.item.price)*1.1).to_i %>
         <%= subtotal %>
       </td>
       <td>
         <%= link_to "商品をカートから削除する", cart_item_path(cart_item.id, cart_item), method: :delete,class: "btn btn-danger" %>
       </td>
     </tr>
       <% total += subtotal %>
     <% end %>
<% end %>
   <tr>
    <th>合計金額</th>
    <td><%= total %></td>
    <td><%= link_to "カートを空にする", destroy_all_path, method: :delete,class: "btn btn-danger btn-sm" %></td>
   </tr>

<%= link_to '買い物を続ける', items_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>

<%= link_to '情報入力に進む', new_order_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
