  <div class='container px-5 px-sm-0'>
    <div class=''>
      <div class='col-md-12'>
        <h4 class="ml-5 mt-3", style="background-color: #eee; width:170px; padding-left: 12px; margin-bottom:40px;" ><b>注文履歴一覧</b></h4>

        <table class="table table-bordered", style="margin:20px;">
          <tr>
            <th style="background-color: #f5f5f5">注文日</th>
            <th style="background-color: #f5f5f5">配送先</th>
            <th style="background-color: #f5f5f5">注文商品</th>
            <th style="background-color: #f5f5f5">支払い金額</th>
            <th style="background-color: #f5f5f5">ステータス</th>
            <th style="background-color: #f5f5f5">注文詳細</th>
          </tr>


        <% @order.each do |order| %>

          <tr>
            <td><%= order.created_at.strftime('%Y/%m/%d') %></td>
            <td class="flex-{breakpoint}-column">
                〒<%= order.postal_code %>
                <%= order.address %>
                <%= order.name %>
            </td>
            <td>
              <% order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %>
              <% end %>
            </td>
            <td>
              <%= order.total_payment.to_s(:delimited) %>
            </td>
            <td>
              <%= order.status_i18n %>
            </td>
            <td>
              <%= link_to "表示する", order_path(order.id),class: "btn btn-outline-dark" %>
            </td>
          </tr>

        <% end %>

        </table>
      </div>
    </div>
  </div>
