  <h4>注文情報入力</h4>
    
    <%= form_with model: @order, url:comfirm_path, method: :post do |f|%>
      <h4><strong>支払い情報</strong></h4>
      <div>
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>
      </div>
      <div>
        <%= f.radio_button :payment_method, :transfer %>
        <%= f.label :payment_method, "銀行振込" %></div>
      </div>
    
      <h4><strong>お届け先</strong></h4>
<!--顧客情報の住所使用-->
      <div>
        <%= f.radio_button :address_number, 1 %>
        <%= f.label :address_number_1, "ご自身の住所" %>
        <!--value内の書き方？-->
        <!--nameカラムにcustomersテーブルの姓、名カラムを入れる場合-->
        <%= hidden_field :name, :values => 
          @customer_full_name
        %>
        <%= hidden_field :postal_code, :values => 
          @customer_postal_code
        %>
        <%= hidden_field :address, :values => 
          @customer_address
        %>
        <div>
          <%= current_customer.address_display %><br>
          <%= current_customer.full_name%>
        </div>
      </div>
    
<!--登録済みお届け先の住所使用-->
      <div>
        <%= f.radio_button :address_number, 2 %>
        <%= f.label :address_number_2, "登録先の住所から選択" %>
        <%= f.collection_select(:registered, current_customer.addresses.all, :id, :address_name_display) %>
      </div>
    
      <div>
        <%= f.radio_button :address_number, 3 %>
        <%= f.label :address_number_3, "新しいお届け先" %>
        
        <table>
          <tr>
            <td><%= f.label :郵便番号（ハイフンなし） %></td>
            <td><%= f.text_field :postal_code%></td>
          </tr>
          <tr>
            <td><%= f.label :住所 %></td>
            <td><%= f.text_field :address%></td>
          </tr>
          <tr>
            <td><%= f.label :宛名 %></td>
            <td><%= f.text_field :name %></td>
          </tr>
        </table>
        
      </div>
      
      <%= f.submit "確認画面へ進む", class:"btn btn-primary" %>
    <% end %>