    <h4>注文情報入力</h4>
    
    <h4><strong>支払い情報</strong></h4>
    <div>
      <%= form_with model: @oder do |f|%>
        <%= f.radio_button :payment_method, "credit_card" %>
        <%= f.label :payment_method, "クレジットカード" %>
        <%= f.radio_button :payment_method, :transfer %>
        <%= f.label :payment_method, "銀行振込" %></div>
    </div>
    
    <h4><strong>お届け先</strong></h4>
<!--顧客情報の住所使用-->
    <div>
      <%= f.radio_boton : address_number, 1 %>
      <%= f.label :address_number_1, "ご自身の住所" %>
    </div>
      <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>  
    </div>
      <% end %>
    
    <%= link_to "確認画面へ進む", comfirm_path, class:"btn btn-primary"%>