  <div class='container'>
    <div class=''>
      <h4 class="ml-5 mt-3", style="background-color: #eee; width:170px; padding-left: 12px; margin-bottom:40px;" ><b>注文履歴詳細</b></h4>

      <div class='col-md-6'>
        <h6><b>注文情報</b></h6>
        <table class="table table-bordered", style="margin:20px;">
          <tr>
            <td style="background-color: #f5f5f5">注文日</td>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
          </tr>
          <tr>
            <td style="background-color: #f5f5f5">配送先</td>
            <td>
              〒<%= @order.postal_code %>
              <%= @order.address %>
              <%= @order.name %>
            </td>
          </tr>
          <tr>
            <td style="background-color: #f5f5f5">支払い方法</td>
            <td><%= @order.payment_method_i18n %></td>
          </tr>
          <tr>
            <td style="background-color: #f5f5f5">ステータス</td>
            <td><%= @order.status_i18n %></td>
          </tr>
        </table>
      </div>

      <div class='col-md-4'>
        <h6><b>請求情報</b></h6>
        <table class="table table-bordered", style="margin:20px;">
          <tr>
            <td style="background-color: #f5f5f5">商品合計</td>
            <td><%= (@order.total_payment - @order.shipping_cost) %></td>
          </tr>
          <tr>
            <td style="background-color: #f5f5f5">配送料</td>
            <td><%= @order.shipping_cost %></td>
          </tr>
          <tr>
            <td style="background-color: #f5f5f5"><b>ご請求額</b></td>
            <td><%= @order.total_payment.to_s(:delimited) %></td>
          </tr>
        </table>
      </div>

      <div class='col-md-8'>
        <h6><b>注文内容</b></h6>
        <table class="table table-bordered", style="margin:20px;">
          <tr>
            <td style="background-color: #f5f5f5">商品</td>
            <td style="background-color: #f5f5f5">単価（税込）</td>
            <td style="background-color: #f5f5f5">個数</td>
            <td style="background-color: #f5f5f5">小計</td>
          </tr>

          <% @order.order_details.each do |order_detail| %>

          <tr>
            <td>
              <%= order_detail.item.name %>
            </td>
            <td>
              <%= order_detail.price %>
            </td>
            <td>
              <%= order_detail.amount %>
            </td>
            <td>
              <%= (order_detail.item.add_tax_price * order_detail.amount).to_s(:delimited) %>
            </td>
          </tr>

          <% end %>

        </table>
      </div>
    </div>
  </div>
