<div class='container px-5 px-sm-0'>
  <div class="row">
    <div class='col-xl-12'>
      <h4 class="ml-5 mt-3", style="background-color: #eee; width:120px; padding-left: 12px; margin-bottom: 40px;"><b>ログイン</b></h4>

      <h6 class="ml-5 my-5", style="background-color: #eee; width:250px; padding-left: 12px; margin-bottom: 40px;"><b>会員の方はこちらからログイン</b></h6>

      <div class="d-flex align-items-center justify-content-center">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

        <table class=padding-left: 12px;>

          <tr>
            <div class="field">
              <td style="width:160px";><%= f.label :メールアドレス %></td>
              <td style="width:160px";><%= f.email_field :email, size: 50, autofocus: true, autocomplete: "email", style:"margin-right:10px; margin-bottom: 20px;" %></td>
            </div>
          </tr>


          <tr>
            <div class="field mt-1">
              <td style="width:40px";><%= f.label :パスワード %></td>
              <td><%= f.password_field :password, size: 50, autocomplete: "current-password", style:"margin-right:10px; margin-bottom: 20px;"  %></td>
            </div>
          </tr>
          <tr>
            <td></td>
            <td>
              <div class="actions">
                <%= f.submit "ログイン", class: 'btn btn-outline-dark' %>
              </div>
            </td>
          </tr>

        </table>
        <% end %>
      </div>

        <h6 class = "mx-5 my-5", style="background-color: #eee; width:200px; padding-left: 20px; margin-bottom: 20px;"><b>会員登録がお済みでない方</b></h6>

        <div class ="text-center">
          <%= render "public/shared/links" %>
        </div>

    </div>
  </div>
</div>