<div class='container'>
  <div class='row'>
    <div class='mx-auto col-10 col-sm-10 col-lg-8 col-xl-8'>
      <h4 class="my-3">ログイン</h4>
      <h6 class="ml-3 my-2">会員の方はこちらからログイン</h6>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :メールアドレス %>
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="field mt-1">
          <%= f.label :パスワード %>
          <%= f.password_field :password, autocomplete: "current-password" %>
        </div>

        <div class="border-radius">
          <%= f.submit "ログイン", class: 'btn btn-primary btn-sm' %>
        </div>
      <% end %>

      <h6>会員登録がお済みでない方</h6>
      <%= render "public/shared/links" %>
    </div>
  </div>
</div>