
<div class='container mt-5 h-75'>
  <div class='row h-100'>
    <div class='col-md-2'>
      <%= render 'genre_search', genres: @genres %>
    </div>

    <div  class='col-md-10'>
      <div>
        <div class = "new-arrival">
          <div style="display:flex; flex-wrap:wrap;">
            <h3><strong><%= @genre.name %>一覧</strong></h3>
            <div class="mt-2"><strong>（全<%= @genre_items.count%>件）</strong></div>
          </div>
          <div class = "new-arrival-contents" style="display:flex; flex-wrap:wrap;">
            <% @genre_items.each do |item| %>
            <div class="col-lg-3">
              <div class="d-flex flex-column">
                <% if item.is_active == true %>
                  <%= link_to  item_path(item.id) do %>
                    <%= image_tag item.get_image, size:'200x160' %>
                  <% end %>
                <% else %>
                  <img src='/assets/sold-out.png' width="260" height="200">
                <% end %>
                  <h5 style="margin-bottom: 20px; margin-top: 20px;"><%= item.name %></h5>
                  <h5 style="margin-bottom: 40px;">￥<%= item.price %></h5>
              </div>
            </div>
          <% end %>
          </div>
        </div>
      </div>
    </div>

    <div style="margin:0 auto;">
      <%= paginate @genre_items%>
    </div>

  </div>
</div>