  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <!--管理者がログインしているとき-->
        <% if admin_signed_in? %>
          <span>LOGO</span>
        <% else %>
          <font size="6"><%= link_to root_path,class: 'nav-link text-dark' do %>
            <i class="fas fa-birthday-cake"></i>LOGO</font>
          <% end %>
        <% end %>

        <!--会員がログインしているとき-->
          <% if customer_signed_in? %>
            <div class="text-center">
              ようこそ、<%= current_customer.family_name %>さん!
            </div>
          <% end %>

        <div class="col-sm-8">
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <!--会員がログインしているとき-->
              <% if customer_signed_in? %>
                <li>
                  <%= link_to 'マイページ', my_page_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to '商品一覧', items_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to 'カート', cart_items_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
              <!--管理者がログインしているとき-->
              <% elsif admin_signed_in? %>
                <li>
                  <%= link_to '商品一覧', admin_items_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to '会員一覧', admin_customers_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to '注文履歴一覧', admin_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to 'ジャンル一覧', admin_genres_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to 'ログアウト', destroy_customer_session_path, method: :delete, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
              <!--ログインしていないとき-->
              <% else %>
                <li>
                  <%= link_to 'about', about_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to '商品一覧', items_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to '新規登録', new_customer_registration_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
                </li>
                <li>
                  <%= link_to 'ログイン', customer_session_path, class: "btn btn-outline-dark ml-2 mt-3 mb-3", style:"margin-right:20px;" %>
              <% end %>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    
  </header>